<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/resources/style.css" type="text/css">
    <title>Index</title>
  </head>
  <body>
    <div class="div0">
      <%- include('partials/navbar'); %>
      <h2>Welcome to Contact</h2>
      <p>This is the best website you have</p>
      <form id="contact-form"  method="post">
        <label for="dept">Which Department you want to contact:</label><br>
        <input type="text" name="dept" value="<%= qs.dept %>"><br>
        <label for="person">Who do you want to contact:</label><br>
        <input type="text" name="person" value="<%= qs.person %>"><br>
        <label for="email">Type your Email:</label><br>
        <input type="email" name="dept" value=""><br>
        <input type="submit"  value="submit">
      </form>
    </div>
  </body>
</html>
